<?xml version="1.0"?>

<model>
  <name>maze</name>
  <version>1.0</version>
  <sdf version="1.6">model.sdf</sdf>

  <author>
    <name>jyl</name>
    <email>jiyingliang369@126.com</email>
  </author>

  <maintainer email="jiyingliang369@126.com">jyl</maintainer>

  <description>
    test...
  </description>
</model>
